![hr.jpg](attachment:hr.jpg)

# Answer these questions using the libraries Pandas and Numpy.

1-How many rows and columns are there in the dataset?

2-What are the unique values in the 'department' column?

3-How many unique regions are covered in the dataset?

4-What are the different levels of education among the employees?

5-How many male and female employees are there in the dataset?

6-What are the different recruitment channels used by the company?

7-What is the maximum number of trainings attended by an employee?

8-What is the average age of employees in the dataset?

9-What is the maximum length of service among the employees?

10-What percentage of employees in the dataset were actually promoted?

11-What is the average age of promoted employees compared to non-promoted ones?

12-How does the average training score differ between promoted and non-promoted employees?

13-What is the average length of service for promoted employees?

14-What is the proportion of employees who have won awards among promoted employees?

15-Is there a correlation between KPIs met >80% and promotion?

16-What is the correlation between the number of trainings attended and promotion?

17-How does the length of service correlate with the average training score?

18-Is there any correlation between age and the number of trainings attended?

19-How can you group the data by department and calculate the average age for each department?

20-What is the total number of trainings attended by employees in each region?

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
data.shape

(54808, 14)

In [4]:
data["department"].unique()

array(['Sales & Marketing', 'Operations', 'Technology', 'Analytics',
       'R&D', 'Procurement', 'Finance', 'HR', 'Legal'], dtype=object)

In [5]:
data["region"].nunique()

34

In [6]:
data["education"].unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

In [7]:
data["gender"].value_counts()

gender
m    38496
f    16312
Name: count, dtype: int64

In [8]:
data['recruitment_channel'].unique()

array(['sourcing', 'other', 'referred'], dtype=object)

In [9]:
data["no_of_trainings"].max()

10

In [10]:
data["age"].mean()

34.80391548679025

In [11]:
data["length_of_service"].max()

37

In [12]:
data["is_promoted"].value_counts()

is_promoted
0    50140
1     4668
Name: count, dtype: int64

In [13]:
total_employee = len(data)
promoted_employee = data["is_promoted"].sum()
the_precentage = (promoted_employee /total_employee)*100 
the_precentage

8.517004816815064

In [14]:
avr_age_promoted = data[data["is_promoted"]==1]["age"].mean()
avr_age_non_promoted = data[data["is_promoted"]==0]["age"].mean()

In [15]:
avr_age_promoted

34.372964867180805

In [16]:
avr_age_non_promoted

34.84403669724771

In [17]:
avr_traning_score = data[data["is_promoted"]==1]["avg_training_score"].mean()
avr_traning_score

71.32519280205655

In [18]:
avr_len_service = data[data["is_promoted"]==1]["length_of_service"].mean()
avr_len_service

5.716366752356469

**14-What is the proportion of employees who have won awards among promoted employees?**

In [19]:
promoted_win = len(data[(data["is_promoted"]==1)&(data["awards_won?"]==1)])
promoted_win

559

In [20]:
len_promoted = len(data[data["is_promoted"]==1])
len_promoted

4668

In [21]:
proportion_awarded_promoted = (promoted_win / len_promoted)*100
proportion_awarded_promoted

11.975149957155098

In [22]:
correlation = data['KPIs_met >80%'].astype(int).corr(data['is_promoted'])
correlation

0.22158153967700986

In [23]:
correlation = data["no_of_trainings"].astype(int).corr(data["is_promoted"])
correlation

-0.0248959176824125

In [24]:
correlation = data["length_of_service"].corr(data["avg_training_score"])
correlation

-0.03812215595838484

In [25]:
correlation = data["age"].corr(data["no_of_trainings"])
correlation

-0.0812778851589133

In [26]:
average_age_by_department = data.groupby("department")["age"].mean()
average_age_by_department

department
Analytics            32.431241
Finance              32.058754
HR                   34.385856
Legal                33.832531
Operations           36.073669
Procurement          35.899972
R&D                  32.842843
Sales & Marketing    34.860629
Technology           34.867190
Name: age, dtype: float64

In [27]:
total_trainings_by_region = data.groupby("region")["no_of_trainings"].sum()
total_trainings_by_region

region
region_1       712
region_10      764
region_11     1561
region_12      591
region_13     3121
region_14      937
region_15     3454
region_16     1739
region_17      899
region_18       33
region_19     1041
region_2     16080
region_20     1017
region_21      501
region_22     9036
region_23     1456
region_24      624
region_25     1004
region_26     2696
region_27     2093
region_28     1665
region_29     1167
region_3       390
region_30      761
region_31     2443
region_32     1161
region_33      300
region_34      351
region_4      2017
region_5       910
region_6       803
region_7      6116
region_8       703
region_9       529
Name: no_of_trainings, dtype: int64